* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    background-color: black;
    color:seashell;
    text-align: center;
    margin:0;
}

ul {
    text-align: right;
}

img {
    opacity: 0.9;
}

h2 {
    font-size: 36px;
    opacity: 0.9;
    margin: 10px;
    padding: 0px;
}

h4 {
    font-size: 22px;
    opacity: 0.9;
    margin: 10px;
    padding: 0px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    max-height: 69px;
    width: 100%;
    border: 1px solid seashell;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    flex-grow: 1;
    overflow: hidden;
}

.header img {
    max-height: 50px;
    margin: 10px;
}

.header li {
    list-style: none;
    display: inline-block;
    text-decoration: underline;
    text-align: center; 
    font-size: 22px;
    opacity: 0.9;
    padding: 0px 10px;
}

.mission-image {
    background-image: url(../images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 69px auto;
    display: flex;
}

.text-over {
    margin: auto;
    background-color: black;
    width: 100%;
}

.trends {
    display:flex;
}

.trend-item {
    max-width: 300px;
}

.trend-item img {
    max-height: 200px;
}